*{
    box-sizing: border-box;
    margin: 0;
}

header{
    width: 100vw;
    height: 40px;
    background-color: #262829;
    display: flex;
    justify-content: center;
}

.container{
    height: 40px;
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.container .email{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
    font-family: "Montserrat";
    height: 39px;
    width: 650px;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 36px;
    padding-right: 20px;
    border-right: 1px solid #505253;
}

.container .phone{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    font-family: "Montserrat";
    height: 40px;
    width: 210px;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 36px; 
    padding-left: 20px;
}

.container .phone p:last-child,
.container .email p:last-child{
    color: #5F6465;
    margin-left: 3px;
}

nav{
    width: 100vw;
    height: 100px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    position: sticky;
}

.container-nav{
    width: 1170px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav .container-nav .logo{
    width: 580px;
}

nav .container-nav .bar{
    width: 590px;
    display: flex;
    justify-content: space-between;
    position: sticky;
}

nav .container-nav .bar a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    color: #4e4e4e;
    font-family: "Montserrat";
}

nav .container-nav .bar a:hover{
    color: #ffac55;
}

.girl-wrap{
    width: 100vw;
    height: 700px;
    background-image: url(../img/girl.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-switch,
.right-switch{
    width: 45px;
    height: 100px;
    background-color: #262829;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrow-left{
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    border: 3px solid;
    border-color: transparent transparent #FFFFFF #FFFFFF;
}

.arrow-right{
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    border: 3px solid;
    border-color: #FFFFFF #FFFFFF transparent transparent;
}
