*{
    box-sizing: border-box;
    margin: 0;
}

.wrap{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
header{
    width: 100vw;
    height: 40px;
    background-color: #262829;
    display: flex;
    justify-content: center;
}

.container{
    height: 40px;
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.container .email{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
    font-family: "Montserrat";
    height: 39px;
    width: 650px;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 36px;
    padding-right: 20px;
    border-right: 1px solid #505253;
}

.container .phone{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    font-family: "Montserrat";
    height: 40px;
    width: 210px;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 36px; 
    padding-left: 20px;
}

.container .phone p:last-child,
.container .email p:last-child{
    color: #5F6465;
    margin-left: 3px;
}

nav{
    width: 100vw;
    height: 100px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    position: sticky;
}

.container-nav{
    width: 1170px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav .container-nav .logo{
    width: 580px;
}

nav .container-nav .bar{
    width: 590px;
    display: flex;
    justify-content: space-between;
    position: sticky;
}

nav .container-nav .bar a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    color: #4e4e4e;
    font-family: "Montserrat";
}

nav .container-nav .bar a:hover{
    color: #ffac55;
}

.girl-wrap{
    width: 100vw;
    height: 705px;
    background-image: url(../img/girl.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 300px;
}

.left-switch,
.right-switch{
    width: 45px;
    height: 100px;
    background-color: #262829;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrow-left{
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    border: 3px solid;
    border-color: transparent transparent #FFFFFF #FFFFFF;
}

.arrow-right{
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    border: 3px solid;
    border-color: #FFFFFF #FFFFFF transparent transparent;
}

.container-girl{
    width: 1170px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.choose-box{
    width: 458px;
    height: 518px;
    display: flex;
    flex-wrap: wrap;
}

.chb{
    width: 227.5px;
    height: 130px;
    background-color: #00B6ED;
    padding-left: 35px;
    background-repeat: no-repeat;
}
.chb:hover{
    background-color: #00A6D9;
}

.chb p{
    text-transform: uppercase;
    margin-top:40px;
    margin-right: 150px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Montserrat";
}

#chb-01{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFAB38;
    width: 455px;
    background-image: none;
}
#chb-01 p{
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 36px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 300;
}
#chb-01 p:last-child{
    font-size: 31px;
}

#chb-02{
    border: 1px solid;
    border-color: transparent #00A6D9 #00A6D9 transparent;
    background-image: url(../img/icon_education.png), url(../img/arrow.png);
    background-position: top 30px left 35px, bottom 30px right 20px;;
}
#chb-02:hover{
    background-image: url(../img/icon_education.png), url(../img/arrow-light.png);
    background-position: top 30px left 35px, bottom 30px right 20px;;
}

#chb-03{
    border: 1px solid;
    border-color: transparent transparent #00A6D9 transparent;
    background-image: url(../img/icon_business.png), url(../img/arrow.png);
    background-position: top 30px left 35px, bottom 30px right 20px;;
}
#chb-03:hover{
    background-image: url(../img/icon_business.png), url(../img/arrow-light.png);
    background-position: top 30px left 35px, bottom 30px right 20px;;
}

#chb-04{
    border: 1px solid;
    border-color: transparent #00A6D9 #00A6D9 transparent;
    background-image: url(../img/icon_technology.png), url(../img/arrow.png);
    background-position: top 30px left 35px, bottom 30px right 20px;;
}
#chb-04:hover{
    background-image: url(../img/icon_technology.png), url(../img/arrow-light.png);
    background-position: top 30px left 35px, bottom 30px right 20px;;
}

#chb-05{
    border: 1px solid;
    border-color: transparent transparent #00A6D9 transparent;
    background-image: url(../img/icon_real_estate.png), url(../img/arrow.png);
    background-position: top 30px left 35px, bottom 30px right 20px;;
}
#chb-05 p{
    width: 100px;
}
#chb-05:hover{
    background-image: url(../img/icon_real_estate.png), url(../img/arrow-light.png);
    background-position: top 30px left 35px, bottom 30px right 20px;;
}

#chb-06{
    border: 1px solid;
    border-color: transparent #00A6D9 #00A6D9 transparent;
    background-image: url(../img/icon_banking.png), url(../img/arrow.png);
    background-position: top 30px left 35px, bottom 30px right 20px;;
}
#chb-06:hover{
    background-image: url(../img/icon_banking.png), url(../img/arrow-light.png);
    background-position: top 30px left 35px, bottom 30px right 20px;;
}

#chb-07{
    border: 1px solid;
    border-color: transparent transparent #00A6D9 transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.green-button{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: #00DF00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-button p{
    margin: 0;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Montserrat";
}
/* ___________________________________________________________________________________________________________________________________________________________________ */
.projects{
    height: 100vh;
    display: flex;
}
.small-text-section-projects{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #898e8f;
    text-transform: uppercase;
    text-align: left;
    margin-top: 20px;
    
}
.text-section-projects{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #343a3b;
    text-transform: uppercase;
    text-align: left;
    margin-top: -20px;
    margin-bottom: 20px;
}
.layer-35{

    position: relative;
}
.layer-26{
  
    position: relative;
}
.layer-19{

    position: relative;
}

.layer-16{

 position:relative;
    
   
}
.active-button{
    position: absolute;
    display: inline-block;
    top: 15px;
    left: 25px;
    border: 2px solid #ffac56;
    padding: 10px 28px 10px 28px;
    border-radius: 25px;
    color: white;
    font-size: 12;
    font-weight: 400;
    transition: .5s;
    
    
}
.active-button:hover{
    background: #ffac56;
    text-decoration: none;
    color: white;
    transition: .5s;
}

.hover-button{
    display: inline-block;
    position: absolute;
    font-size: 30px;
    bottom: -5px;
    left: 25px;
    color: white;
    font-weight: 700;
    z-index: 4;
    transition: .5s;
    
    
}
.hover-button:hover{
    text-decoration: none;
    color: white;
    transition: .5s;
    
    
}
.left-bottom{
    position: absolute;
    left: 15px;
    bottom: 0;
    cursor: pointer;
    border-width: 30px 30px 30px 30px;
    border-style: solid;
    border-color: transparent transparent #03b6e7 #03b6e7;
    height: 1px;
    width: 1px;
    z-index: 3;
    
}
.bg-layer-19 {
    display: none;
    position: absolute;
    top:0;
    margin: 0 auto;
    z-index: 2;
    background: #07c5f9;
    height: 100%;
    max-width: 555px;
    transition: 15s;
    
}
.bg-layer-19 h4{
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    
    
}
.bg-layer-19 p{
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 15px;
    
    
}

    .tt{
    margin-right: -25px;
}  
.bt{
    margin-top: 30px;
}
.l35-1{
    width: 265px;
}
.l35-2{
    width: 555px;

    }


.triangle:hover  .hover-button {
    display: none;
    
    
}


.triangle:hover  .bg-layer-19 {
   
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.triangle:hover .active-button  {
    display: none;
    
    
}
.bottom-ss{
    
    margin: 0 auto;
}
.bottom-buttom{
    
    display: inline-block;
    color: white;
    text-transform: uppercase;
    background: #16d428;
    font-size: 13px;
    font-weight: 400;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    text-align: center;
    margin-top: 40px; 
    
    
}
.bottom-buttom:hover{
    text-decoration: none;
    color: white;
}
@media only screen and (min-device-width : 995px) and (max-device-width : 1200px)  {
        img{
        width: 100%;
}
.l35-2{
    width: 450px;
}
    .l35-1{
    width: 210px;
}
    .bt{
       min-width: 475px; 
    }
}
}
@media only screen and (min-device-width : 750px) and (max-device-width : 991px)  {
    img{
            max-width:100%;
            
            
    } 
    
    .bt{
    margin-top: 0px;
        
}
    .block-2{
        margin-top: 20px;
        
    }
    .layer-19{
        width: 550px;
        
    }
    .layer-26{
        width: 550px;
        
        
    }
    .l35-1{
    width: 555px;
    }
    .projects{
      display: block;
    }
    .wrapper{
        margin-left: 20%
    }
    .bottom-ss{
        margin-left: 30%
    }

.l35-2{
    width: 555px;

    }

    
}
@media screen and (max-width:750px){
    img{
        width: 100%;
    }
    .bg-layer-19{
        width: 94%;
        
    }   
    
    .bt{
    margin-top: 0px;
}
    .block-2{
        margin-top: 20px;
    }
    .projects{
      display: block;
    }
}
       

.wrapper{
   display: flex;
    align-items: center;
    align-content: center;
}
 /*----------------------------------------------------------------------------------------------------------------------------------------------------Project section------------------------------------------------------------------------------------------------------------------------------------  */

